body {
  overflow: hidden;
  margin: 0;
}
.controls {
  position: absolute;
  margin-top: 0;
  height: 38px;
  width: 100%;
  position: top;
  float: right;
  background-color: #21252b;
  border: none;
}
.svg-icon {
  position: relative;
  height: 25px;
  width: 25px;

  fill: #ffffff;
}
#close-button {
  background-color: transparent;
  border: none;
  float: right;
  width: 40px;
  height: 38px;
}
#close-button:hover {
  background-color: #e81123;
}
#close-icon {
  width: 25px;
  height: 25px;
}
.content {
  margin-top: 38px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  border-radius: 25px;
  margin-top: 12%;
  margin-left: 10%;

  width: 60%;
  height: 45%;
  background-color: #2d2d2d;
}
#left {
  height: 100%;
  width: 40%;
  float: left;
  display: flex;
  justify-content: center;
}
#left object {
  height: 60%;
  width: 60%;
  max-width: 100%;
  display: block;
  margin: auto;
}
#right {
  height: 100%;
  width: 60%;
  float: right;
}
#logo-svg-group {
  fill: #02d5ee;
}
